.myProfil img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.info{
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
}

.info input{
    border: none;
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
}
.info .form1 input{
    width: 100%;
}
.info .form1 label{
    width: 100px;
}
.info .form2 label{
    width: 150px;
}
.info input[type=button] {
    border:  1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    width: 80px
}

@media screen and (max-width: 767px){
    label{
        margin-bottom: 8px
    }
    .info .form2 input{
        width: 100%;
    }    
}